.areachart {
    padding: 20px;
    margin: 7px;
}

.areachart__header {
    margin: auto;
    width: 250px;
    justify-content: space-between;
    align-items: flex-start;
}

.areachart__header section {
    justify-content: flex-start;
    align-items: flex-start;
}

.areachart__header section>img {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    padding: 7px;
}

.areachart__header span>img {
    width: .8em;
}

.areachart__header section p {
    font-weight: 600;
    font-size: .75em;
    display: inline-block;
    margin-right: 10px;
}

.areachart__header div {
    background: #fff2;
    padding: 4px 14px;
    padding-right: 10px;
    border-radius: 10px;
}