.expences__chart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.expences__section {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.expences__enteries {
    margin: 7px;
    font-weight: 500;
}

.expences__enteries--header {
    margin: 0 25px;
    margin-top: 25px;
    align-items: flex-start;
    justify-content: space-between;
}

.expences__enteries--header div {
    padding: 10px;
    padding-left: 15px;
    background: #fff1;
}

.expences__enteries .MuiSvgIcon-root {
    color: #84818A !important;
    width: 20px !important;
    margin-left: 5px;
}

.expences__enteries--header span {
    color: #fff8;
}

.expences__enteries--title {
    margin: 20px 0;
    background: #fff1;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1.8fr 1.3fr 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    padding: 10px 15px;
}

.expences__enteries--content {
    margin: 0 25px;
    margin-bottom: 25px;
}

.expences__enteries--header>p {
    font-size: 1.1em;
}

.expences__enteries--title .MuiSvgIcon-root {
    margin-bottom: -4px;
}

.expences__enteries--title span:nth-child(1) {
    text-align: left;
}

.expences__enteries--title span {
    text-align: center;
}

.expences__enteries--title span:nth-child(4) {
    text-align: right !important;
}

.expences__enteries--row {
    display: grid;
    grid-template-columns: 1.9fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 5px;
}

.expences__enteries--row>section {
    justify-content: flex-start;
    text-align: center;
}

.expences__enteries--row section section {
    text-align: left;
}

.expences__enteries--row span {
    width: 7px;
    height: 6px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: -17px;
}

.expences__enteries--row p {
    font-size: .8em;
    color: #84818A;
}

.expences__enteries--row>section:nth-child(2) {
    max-width: 100px;
    text-align: center;
    padding: 3px;
    border-radius: 7px;
}

.expences__donutchart {
    margin: 7px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.expences__chart--label {
    font-size: .85em;
    font-weight: 500;
}

.expences__chart--label main span {
    width: 7px;
    height: 6px;
    border-radius: 50%;
    margin-right: 15px;
}

.expences__chart--label span {
    color: #fff8;
}

.expences__chart--label {
    margin-top: 20px;
}

.expences__chart--label section {
    width: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}