.revenue {
    display: flex;
}

.revenue__left {
    flex: .6;
    padding-right: 20px;
}

.revenue__header {
    margin: 7px;
    padding: 10px 20px;
    justify-content: space-around;
}

.revenue__header img {
    background: #0BAFFF30;
    padding: 10px;
    border-radius: 50%;
    margin-right: 20px
}

.revenue__barchart {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.revenue__right {
    padding-top: 25px;
    margin: -25px;
    margin-left: 0;
    flex: 4;
    background: #35373D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.revenue__right h3 {
    width: 100%;
    padding: 50px;
    padding-bottom: 0;
}


.revenue__right>section {
    border-top: .5px solid #fff1;
    padding: 25px 0;
    width: 100%;
}


.revenue__right--content {
    font-size: .7em;
    justify-content: space-between;
    padding: 0 50px;
}

.revenue__right--content h5 {
    font-size: 1em;
}

.revenue__right--content img {
    background: #fff2;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    width: 38px;
    height: 38px;
}

.revenue__right--content>p {
    color: #4FBF67;
}

.revenue__footer {
    width: 90%;
    background: #fff1;
    padding: 6px;
    margin: 10px;
    font-size: .8em;
    font-weight: 500;
}